<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Onsen UI Project</name>
    <description>
        Onsen UI project to create fancy user interfaces for hybrid mobile applications. It uses uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.
    </description>
    <author email="dev@onsen.io" href="http://onsen.io">
        Onsen UI Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
